
body{
    background: blueviolet;
}

.inputCard{
    background-color: rgb(255, 255, 255);
    padding: 0;
    border-radius: 10px;
    height: clamp(600px, 60vh, 1000px);
    width: clamp(450px, 30vw, 500px);
    margin: auto;
    margin-top: 10vh;
    position: relative;
    border: 5px solid black;
}

.inputCard img{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 10%;
    margin-left: 30%;
}

.inputField{
    position: absolute;
    width: 80%;
    height: 10%;
    margin-top: 60%;
    margin-left: 10%;
    text-align: center;
    background: rgb(216, 214, 214);
    border: none;
    border-radius: 10px;
    font-size: 32px;

}

.inputField::placeholder{
    color: rgb(192, 192, 192);
    font-size: 32px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.actionButtons{
    position: absolute;
    width: 80%;
    height: 10%;
    margin-top: 80%;
    margin-left: 10%;
    text-align: center;
    background: rgb(199, 105, 179);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    cursor: pointer;
}

.actionButtons:hover{
    background-color: rgb(146, 77, 131);
}

.listSection{
    position: absolute;
    margin-top: 95%;
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-left: -10%;
}

.itemButtons{
    border: none;
    background-color: rgb(248, 177, 126);
    border-radius: 5px;
    height: 50px;
    width: 80px;
    cursor: pointer;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.201);
}

.loginCard{
    background-color: rgb(255, 255, 255);
    padding: 0;
    border-radius: 10px;
    height: clamp(600px, 60vh, 1000px);
    width: clamp(450px, 30vw, 500px);
    margin: auto;
    margin-top: 10vh;
    position: relative;
    border: 5px solid black;
}

#emailInput{
    margin-top: 40%;
}

#loginHeader{
    position: absolute;
    font-size: 4em;
    text-align: center;
    width: 100%;
    color: blueviolet;
}

#errorStatement{
    position: absolute;
    top: 70%;
    left: 25%;
    color: red;
    width: 50%;
    text-align: center;
}

.bottomLinks{
  
    color: blueviolet;
    cursor: pointer;
    text-align: center;
}

